



.bt12a {
  background-color: white;
  border-radius: 50%;
  padding: 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center horizontally */
}
.icon2 {
  font-size: 24px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card1 {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 300px;
  
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  
}

.card-list {
  margin-bottom: 20px;

}
.strikethrough {
  text-decoration: line-through;
  opacity: 0.5; /* Làm mờ */
}

.card-list li {
  list-style: none;
  margin-bottom: 5px;
  color: #666666  ;
  font-size: 16px;
  font-family: "Nunito";
}

.card-list li i {
  margin-right: 5px;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
  color: #666666  ;
  font-size: 16px;
  font-family: "Nunito";
}

.btn-group button {
    margin-right: 5px;
}

.btn-primary {
    background-color: #28a745; /* Green color */
    border-color: #28a745;
}
.bd01{
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}
/* Footer */
footer {
    background-color: #259E58; /* Màu nền footer */
    color: white; /* Màu chữ footer */
    padding: 20px 0; /* Khoảng cách trên dưới footer */
  }
  
  footer .container {
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần */
    flex-direction: column; /* Căn chỉnh các phần theo cột */
  }
  
  footer .row {
    margin-bottom: 20px; /* Khoảng cách giữa các hàng */
  }
  
  footer h5 {
    font-family: "Bangers"; /* Font chữ cho tiêu đề */
    font-style: italic; /* Chữ nghiêng cho tiêu đề */
    margin-bottom: 10px; /* Khoảng cách dưới tiêu đề */
  }
  
  footer ul {
    /* Loại bỏ dấu chấm tròn trong danh sách */
    padding: 0; /* Loại bỏ khoảng cách bên trái danh sách */
  }
  
  footer li {
    margin-bottom: 5px; /* Khoảng cách giữa các mục trong danh sách */
  }
  
  footer .fas {
    color: white; /* Màu icon */
    margin-right: 5px; /* Khoảng cách bên phải icon */
  }
  
  footer .img-fluid {
    max-width: 100%; /* Cho phép hình ảnh tự động điều chỉnh kích thước */
    height: auto; /* Cho phép hình ảnh tự động điều chỉnh chiều cao */
  }
  
  footer p {
    font-family: "Nunito", sans-serif; /* Font chữ cho copyright */
    font-size: 14px; /* Kích thước chữ cho copyright */
  }
  .text-container1 {
    background-color: #259E58; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px; /* Làm tròn góc */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng */
  }
  .text-container2 {
    background-color: #FF41B2; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px; /* Làm tròn góc */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng */
  }
  .text-container3 {
    background-color: #3781DB; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10px; /* Làm tròn góc */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng */
  }

  .ghi-chu {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #EC008C;
    font-family: "Nunito";
  }

  .list-item {
    margin-bottom: 5px;
    margin-left: 20px;
    font-family: "Nunito";
  }